/* user*/


.square {
    border-radius: 0px;
    width: 100%;
    height: 200px;
  }
  
  .jumbotron {
    display: flex;
    align-items: center;
    justify-content:center;
    background-image: linear-gradient(to right, var(--ColorSecundario), #000);
    color: #fff;
    font-size:3rem;
    letter-spacing: 2px;
    font-weight: bold;
    text-align: center;
  }
  
.forgotPassword{
    justify-content:center;

}


