.NavbarItems{
  display:flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 5px 15px 0 rgba(0,0,0,0.2);
  width: 100%;
  height:80px;
  background-color: var(--ColorPrimario);
  color: #fff;
}

.navbar-logo{
  cursor: pointer;
  color: #fff;
}

.navbar-logo a{
  font-family: 'MadeTommyHomme';
  font-weight: bold;
  font-size:2rem;
  letter-spacing: 2px;
}

.nav-menu{
  display: grid;
  grid-template-columns: repeat(3,auto);
  grid-gap: 10px;
  list-style: none;
  align-items: center;
}

.nav-links {
  text-decoration: none;
  font-size: 1.1rem;
  padding: 0.7rem 1rem;
}

.mobile-menu-icon{
  display: none;

}

.mobile-menu-icon button{
  border: none;
  background: none;
  font-size: 20px;

}